[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
envparse = "*"
friendlylog = "*"
beautifulsoup4 = "*"
textract = "*"
pyyaml = "*"
pydotdict = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
